{% extends 'layout.html.twig' %}

{% block content %}

<h1>Books</h1>


<div class="row">
    {% for book in books %}
        <div class="col-md-4">
            <div class="card" style="height:300px; margin-top: 20px; padding: 20px;">
<!--                <img class="card-img-top" src="img_avatar1.png" alt="Card image">-->
                <div class="card-body">
                    <h4 class="card-title">{{ book.title }}</h4>
                    <p class="card-text">{{ book.shortDescription }}</p>
                    <p class="card-text">{{ book.price }}</p>
                    <a href="/mvc/index.php?controller=cart&amp;action=addToCart&amp;id={{ book.id }}" class="btn btn-primary">Add to cart</a>
                    <a href="/mvc/book/{{ book.id }}" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}

